@model CreateSocialMediaDto
@{
	ViewData["Title"] = "Create Social Media";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
	<label>Title</label>
	<input type="string" asp-for="Title" class="form-control" />
	<br />
	<label>Icon</label>
	<input type="string" asp-for="Icon" class="form-control" />
	<br />
	<label>Url to Social Media</label>
	<input type="string" asp-for="Url" class="form-control" />
	<br />
	<button class="btn btn-outline-primary">Save</button>
	<button class="btn btn-outline-danger" asp-action="Index">Cancel</button>
</form>

